<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Basic Stream</string>
		<key>playlist_url</key>
		<string>https://devstreaming-cdn.apple.com/videos/streaming/examples/bipbop_4x3/bipbop_4x3_variant.m3u8</string>
		<key>is_protected</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Advanced Stream</string>
		<key>playlist_url</key>
		<string>https://devstreaming-cdn.apple.com/videos/streaming/examples/img_bipbop_adv_example_ts/master.m3u8</string>
		<key>is_protected</key>
		<false/>
	</dict>
	<dict>
		<key>content_key_id_list</key>
		<array>
			<string>skd://mvvuni.keydelivery.southeastasia.media.azure.net/FairPlay/?kid=1e9b465a-6eeb-444b-81bf-746fa830936b</string>
		</array>
		<key>name</key>
		<string>Everlearn Test sample</string>
		<key>playlist_url</key>
		<string>https://mvvuni-aase.streaming.media.azure.net/d6fff7ac-be63-47dd-a02e-771c92bf29bf/y2mate.com%20-%20QU%E1%BA%A2%20TIM%20M%C3%80U%20L%E1%BB%ACA%20-%20K.ism/manifest(format=m3u8-aapl,encryption=cbcs-aapl)</string>
		<key>is_protected</key>
		<true/>
	</dict>
</array>
</plist>
